<!DOCTYPE html>
<html lang="en">
  <head>
    {% capture title %}
      {%- if page.title -%}
        {{ page.title }}
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
    {% endcapture %}

    {% capture description %}
      {% if page.description %}
        {{ page.description }}
      {% else %}
        {{ site.description }}
      {% endif %}
    {% endcapture %}

    <title>{{ title | xml_escape }}</title>
    <meta name="description" content="{{ description | xml_escape }}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/styles.css" />
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>

</html>